<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'Inventory Track', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <%= link_to 'Inventories', items_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to 'Add Inventory', new_item_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to 'Locations', locations_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to 'Add Location', new_location_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to 'Locations with items', item_locations_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to 'Assign Item to Location', new_item_location_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to 'About Us', about_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
