<div id="<%= item[:id] %>">
  <p>
    <strong>Name:</strong>
    <%= item[:name] %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item[:description] %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item[:price] %>
  </p>

    <strong>Quantity in each location:</strong>
    <%  item[:loc_name].each do |location| %>
        <p>
            <%= location[:name] %> <span>:</span>  <%= location[:quantity] %>
        </p>
    <% end %>
</div>
