<p class="alert alert-success"><%= notice %></p>

<%= render @item %>

<div class="text-center">
  <%= link_to "Edit this item", edit_item_path(@item), class: "btn btn-primary" %> |
  <%= link_to "Back to items", items_path, class: "btn btn-secondary" %>

  <%= button_to "Destroy this item", @item, method: :delete, class: "btn btn-danger" %>
</div>
