<p class="alert alert-success" role="alert"><%= notice %></p>

<%= render @location %>

<div class="text-center">
  <%= link_to "Edit this location", edit_location_path(@location), class: "btn btn-primary" %>
  <%= link_to "Back to locations", locations_path, class: "btn btn-secondary" %>
  <%= button_to "Destroy this location", @location, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
</div>
